[Unit]
Description=Hotcorners
Requires=graphical-session.target
After=graphical-session.target

StartLimitIntervalSec=60
StartLimitBurst=30

[Service]
Type=simple
ExecStart=/home/tony/.zsh/more-scripts/bl-hotcorners -d
ExecStop=/bin/kill -STOP $MAINPID
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=default.target
