[Unit]
Description=Hotcorners
Requires=graphical-session.target
After=graphical-session.target

StartLimitIntervalSec=60
StartLimitBurst=30

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/home/tony/.zsh/more-scripts/bl-hotcorners -d
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=default.target
