[Unit]
Description=Skippy
Requires=graphical-session.target
After=graphical-session.target

StartLimitIntervalSec=60
StartLimitBurst=30

[Service]
Type=simple
ExecStart=/usr/local/bin/skippy-xd --start-daemon
ExecStop=/usr/local/bin/skippy-xd --stop-daemon
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=default.target
