[Unit]
Description=Starlight

StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/racket -e '(require (file "~/starlight/starlight.rkt"))'
Restart=always

[Install]
WantedBy=default.target
